- name: Install flatpak
  become: true
  become_user: "{{ ansible_facts['user_id'] }}"
  when: not ephemeral | bool
  block:
    - name: Ensure flatpack is installed
      ansible.builtin.package:
        name: flatpak
        state: present

    - name: Install GNOME plugin for Ubuntu24LTS
      ansible.builtin.apt:
        name: gnome-software-plugin-flatpak
        state: present
      when: ubuntu24lts | bool

    - name: Add the Flathub flatpak repository remote
      community.general.flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

    - name: Install Flatseal via flatpak
      community.general.flatpak:
        name: com.github.tchx84.Flatseal
        state: present
        remote: flathub
      become: false

- name: Install Homebrew
  become: true
  when: ansible_facts["os_family"] != "Archlinux"
  block:
    - name: Create home dir for homebrew
      ansible.builtin.file:
        path: /home/linuxbrew/.linuxbrew
        state: directory
        owner: "{{ ansible_facts['user_id'] }}"
        group: "{{ ansible_facts['user_id'] }}"
        mode: "0755"
        recurse: true

    - name: Download and install linuxbrew
      ansible.builtin.shell:
        cmd: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      environment:
        NONINTERACTIVE: "1"
      args:
        creates: "/home/linuxbrew/.linuxbrew/bin"
      become: true
      become_user: "{{ ansible_facts['user_id'] }}"

- name: Install nvm
  ansible.builtin.shell: >
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.nvm/nvm.sh"

#- name: Install pyenv
#  ansible.builtin.shell: >
#    curl -fsSL https://pyenv.run | bash
#  args:
#    creates: "{{ ansible_env.HOME }}/.pyenv/bin"

- name: Install rustup
  ansible.builtin.shell: >
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.cargo/bin/rustup"
