- name: Remove firefox snap
  ansible.builtin.apt:
    name: firefox
    state: absent
  become: true

- name: Add docker repo
  become: true
  block:
    - name: Install docker deps
      ansible.builtin.apt:
        pkg:
          - ca-certificates
          - curl
        state: latest
        update_cache: true

    - name: Add docker gpg key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Ubuntu distribution
      ansible.builtin.debug:
        msg: "Ubuntu release: {{ ansible_facts['distribution_release'] }}"

    - name: Add docker repo noble
      ansible.builtin.apt_repository:
        repo: "deb [] https://download.docker.com/linux/ubuntu {{ ansible_facts['distribution_release'] }} stable"
        state: present
      when: ansible_facts['distribution_release'] in ['plucky','noble', 'jammy']

    - name: Install docker
      ansible.builtin.apt:
        name: docker-ce
        state: latest
        update_cache: true
