- name: Install chezmoi
  block:
    - name: Install chezmoi on Archlinux
      ansible.builtin.package:
        name: chezmoi
        state: present
      become: true
      become_user: "{{ ansible_facts['user_id'] }}"
      when: ansible_facts["os_family"] == "Archlinux"

    - name: Install chezmoi on Ubuntu
      community.general.homebrew:
        name: chezmoi
        state: present
      when: ansible_facts["distribution"] == "Ubuntu"

- name: Init chezmoi with dotfiles repo
  ansible.builtin.shell: >
    chezmoi init "{{ dotfiles_github_user }}"
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.local/share/chezmoi"
# - name: Apply dotfiles with chezmoi
#   ansible.builtin.command: chezmoi apply
#   changed_when: true
