- name: Install chezmoi
  block:
    - name: Install chezmoi on Archlinux
      ansible.builtin.package:
        name: chezmoi
        state: present
      when: ansible_facts["os_family"] == "Archlinux"

    - name: Install chezmoi on Ubuntu
      ansible.builtin.brew:
        name: chezmoi
        state: present
      when: ansible_facts["distribution"] == "Ubuntu"

- name: Init chezmoi with dotfiles repo
  ansible.builtin.command: chezmoi init "{{ github_user }}"
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.local/share/chezmoi"

- name: Apply dotfiles with chezmoi
  ansible.builtin.command: "{{ ansible_facts['user_dir'] }}/.local/bin/chezmoi apply"
  changed_when: true
